 
@use '../custom' as *;

.testimonial{
	background-color: $cardss;
}
.review{
		padding:2rem; 
		background-color: $cardss;
		border-radius: 3rem;
		margin-left: 3rem;
		margin-right: 3rem;


	h4{
		font-size: 2rem;
		color: $dark-orange;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;

	}
	h1{
		margin-top:-1rem;
		font-size: 2.5rem;
		font-family: 'Poppins', sans-serif;
	}
}